<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>后台管理系统2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/admin/css/font.css" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" href="/admin/css/xadmin.css" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" src="/Jquery/3.2.1/jquery.min.js" th:src="@{/Jquery/3.2.1/jquery.min.js}"></script>
    <script src="/layui/layui.js" charset="utf-8" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js" th:src="@{/admin/js/xadmin.js}"></script>
    <script type="text/javascript" src="/admin/js/cookie.js" th:src="@{/admin/js/cookie.js}"></script>
    <script type="text/javascript" src="/admin/js/xconfig.js" th:src="@{/admin/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>用户编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="user_id" required=""
                       autocomplete="off" class="layui-input" value="1">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>房屋编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="house_id"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>开始时间
            </label>
            <div class="layui-inline">
                <input type="text" name="start_time" class="layui-input" id="start_time">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>结束时间
            </label>
            <div class="layui-inline">
                <input type="text" name="end_time" class="layui-input" id="end_time">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>认证状态
            </label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>备注
            </label>
            <div class="layui-input-inline">
                <textarea name="remark" required lay-verify="required" placeholder="请输入"
                          class="layui-textarea">无</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer', 'laydate','xajax'], function () {
        let $ = layui.jquery;
        let form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            ,xajax= layui.xajax;
        xajax.error_token('/admin/index');
        laydate.render({
            elem: '#start_time'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#end_time'
            , type: 'datetime'
        });
        //监听提交
        form.on('submit(add)', function (data) {
            let statisx;
            try {
                if (data.field.status === 'on') {
                    statisx = 1;
                }
            } catch (erro) {
                statisx = 0;
            }
            let swap = {
                'end_time': new Date(data.field.end_time),
                'start_time': new Date(data.field.start_time),
                'create_time': new Date(),
                'remark': data.field.remark === "" ? '无' : data.field.remark,
                'status': statisx,
                'house_id': data.field.house_id
            };
            console.log();
            xajax.xajax({
                url: 'http://localhost:8080/order/add',
                data: swap,
                success: function (res) {
                    layer.msg("增加成功", {icon: 1}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
                , error: function () {
                    layer.msg("添加失败", {icon: 2});
                }
            });
            return false;
        });
    });
</script>
</body>

</html>