<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <meta charset="UTF-8">
    <title>用户预定页面</title>
</head>
<body>
<div class="layui-fluid">
    <div th:replace="top/top::top"></div>
    <div class="layui-row">
        <table class="layui-hide" id="renthourse" lay-filter="hourse"></table>
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="flush"><i class="layui-icon layui-icon-refresh" style="font-size: 20px; color: #f9ff20;"></i></button>
            </div>
        </script>

        <script type="text/html" id="bar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">取消预约</a>
        </script>

        <script type="text/html" id="checkboxTp2">
            {{#   if( d.reservestate ){  }}
            <i class="layui-icon layui-icon-auz" style="font-size: 30px; color: #1E9FFF; margin-left: 20px"></i>
            {{# }else{ }}
            <i class="layui-icon layui-icon-close-fill" style="font-size: 30px; color: #ff1a00;margin-left: 20px"></i>
            {{#  } }}
        </script>
        <script type="text/html" id="showphone1">
            {{#   if( d.reservestate == true ){  }}
            <div>{{ d.tenantphone }}</div>
            {{# }else{ }}
            <div style="color: #ff1a00;margin-left: 20px">没有权限</div>
            {{#  } }}
        </script>
        <script type="text/html" id="showphone2">
            {{#   if( d.reservestate ){  }}
            <div>{{ d.owenphone }}</div>
            {{# }else{ }}
            <div style="color: #ff1a00;margin-left: 20px">没有权限</div>
            {{#  } }}
        </script>
    </div>
</div>
<script src="../../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../../../static/js/reserve/reserve_tenant_manage.js" th:src="@{/js/reserve/reserve_tenant_manage.js}"></script>
</body>
</html>