<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/admin/css/font.css" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" href="/admin/css/xadmin.css" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" src="/Jquery/3.2.1/jquery.min.js" th:src="@{/Jquery/3.2.1/jquery.min.js}"></script>
    <script src="/layui/layui.js" charset="utf-8" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js" th:src="@{/admin/js/xadmin.js}"></script>
    <script type="text/javascript" src="/admin/js/cookie.js" th:src="@{/admin/js/cookie.js}"></script>
    <script type="text/javascript" src="/admin/js/xconfig.js" th:src="@{/admin/js/xconfig.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <div class="layui-form" id="formedit" lay-filter="formedit">
        <input type="hidden" name="id" lay-verify="required" autocomplete="off" class="layui-input"
               style="height: 0px; display: none;">
        <div class="layui-form-item">
            <label class="layui-form-label">房屋名称:</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋类型:</label>
            <div class="layui-input-inline">
                <select name="type_a">
                    <option value="">请选择房间</option>
                    <option value="1">一室</option>
                    <option value="2">二室</option>
                    <option value="3">三室</option>
                    <option value="4">四室</option>
                    <option value="5">五室</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="type_b">
                    <option value="">请选择厅</option>
                    <option value="1">一厅</option>
                    <option value="2">一厅</option>
                    <option value="3">三厅</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="type_c">
                    <option value="">请选择卫生间</option>
                    <option value="1">一卫</option>
                    <option value="2">二卫</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="type_d">
                    <option value="">请选择厨房</option>
                    <option value="0">零厨房</option>
                    <option value="1">一厨</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">房屋面积:</label>
            <div class="layui-input-inline">
                <input type="text" name="area" required lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">㎡</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋区域:</label>
            <div class="layui-input-block" id="area_view">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房源风格:</label>
            <div class="layui-input-inline">
                <select name="style" lay-verify="required">
                    <option value="">请选择方式</option>
                    <option value="0">经济</option>
                    <option value="1">精装</option>
                    <option value="2">豪华</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">租金:</label>
            <div class="layui-input-inline">
                <input type="text" name="rent" lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">缴费方式:</label>
            <div class="layui-input-inline">
                <select name="payway">
                    <option value="">请选择方式</option>
                    <option value="11">押一付一</option>
                    <option value="13">押一付三</option>
                    <option value="01">月租</option>
                    <option value="06">半年租</option>
                    <option value="10">年租</option>
                </select>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋图片:</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="upimg">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋设施:</label>
            <div class="layui-input-block">
                <textarea name="info" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋地址:</label>
            <div class="layui-input-block">
                <textarea name="addr_detail" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="up" id="up">修改</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'layer', 'xajax', 'laytpl'], function () {
        let $ = layui.jquery;
        let form = layui.form
            , layer = layui.layer
            , xajax = layui.xajax
            , laytpl = layui.laytpl;

        let seach = xajax.get_cache('SEARCH');
        function tpl(tpl, view, data, callback) {
            laytpl.config({
                open: '<%',
                close: '%>'
            });
            let getTpl1 = tpl.innerHTML,
                view1 = document.getElementById(view);
            laytpl(getTpl1).render(data, function (html) {
                view1.innerHTML = html;
            });
            if (typeof  callback === "function"){
                callback();
            }
        }
        tpl(area_tpl, 'area_view', seach, function () {
            form.render();
        });

        form.render();
        let edit = JSON.parse(sessionStorage.getItem('houseedit'));

        form.val("formedit", {
            "id": edit.id
            , "addr_id": edit.addr_id
            , "area": edit.area
            , "title": edit.title
            , "info": edit.info
            , "addr_detail": edit.addr_detail
            , "rent": edit.rent
            , "payway": edit.pay_a,
            'type_a': edit.type_a,
            'type_b': edit.type_b,
            'type_c': edit.type_c,
            'type_d': edit.type_d,
            'style': edit.style,
        });

        let token = xajax.get_token();
        layui.use('upload',function(){
            let upload =layui. upload;
            upload.render({
                elem: '#upimg', //绑定元素
                url: 'http://localhost/upload' //上传接口
                , method: 'post'//默认post
                , accept: 'images'//文件类型
                , data: {
                    'house_id': edit.id,//额外属性
                    'access_token':token.access_token,
                    'status':0
                }
                , size: 20480//大小
                , auto: true//自动上传
                , done: function (res) {
                    layer.msg('添加成功',{icon:1,time:1000})
                }
                , error: function () {
                    layer.msg('添加失败',{icon:1,time:1000})
                }
            });
        });


        //监听提交
        form.on('submit(up)', function (data) {
            xajax.error_token('/admin/index');
            let pay_b = data.field.payway % 10;
            let pay_a = parseInt(data.field.payway / 10) % 10;
            let swap = $.extend(data.field, {'pay_a': pay_a, 'pay_b': pay_b});
            xajax.xajax({
                url: "http://test.sunxiaoyuan.com:8080/house/update",
                data: swap,
                success: function (res) {
                    sessionStorage.setItem('editDate', JSON.stringify(Object.assign(data.field, {'t': 1})));
                    layer.msg("修改成功", {icon: 1, time: 1000}, function () {
                        // 获得frame索引
                        let index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        window.location.reload();
                    });
                },
                error: function (res) {
                    layer.msg("修改失败", {icon: 2, time: 1000});
                }
            });
            return false;
        });
    });
</script>

<script id="area_tpl">
    <select name="addr_id" lay-verify="required">
        <option value="" > </option>
        <%# for (var key in d.areas) { %>
    <option value=<%= key %>> <% d.areas[key] %> </option>
            <%#  } %>
    </select>
</script>
</body>

</html>