<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/admin/css/font.css" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" href="/admin/css/xadmin.css" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" src="/Jquery/3.2.1/jquery.min.js" th:src="@{/Jquery/3.2.1/jquery.min.js}"></script>
    <script src="/layui/layui.js" charset="utf-8" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js" th:src="@{/admin/js/xadmin.js}"></script>
    <script type="text/javascript" src="/admin/js/cookie.js" th:src="@{/admin/js/cookie.js}"></script>
    <script type="text/javascript" src="/admin/js/xconfig.js" th:src="@{/admin/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <script type="text/html" id="topbar">
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加房屋','./house-add.html')"><i class="layui-icon"></i>添加
        </button>
    </script>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="attestation">添加图片</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <div class="layui-upload-drag" id="file" style="display: none;">
        <i class="layui-icon"></i>
        <p>点击上传，或将文件拖拽到此处</p>
    </div>

    <script type="text/html" id="status1">
        <input type="checkbox" name="status" value="{{d.id}}" status="{{d.status}}" title="出租状态" lay-filter="status1" {{
               d.status>=2
        ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="status2">
        <input type="checkbox" name="status" value="{{d.id}}" status="{{d.status}}" title="认证状态" lay-filter="status2" {{
               d.status>= 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="img">
        {{#  if(d.pics && d.pics != ""){ }}
        <img src="{{=d.pics}}" width="100%"
                height="100%" onclick="previewImg(this)" >
        {{#  }else{ }}
        无数据
        {{# } }}
    </script>


    <table id="house" lay-filter="house"></table>

</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }

    layui.use(['table', 'jquery', 'form', 'upload', 'xajax'], function () {
        let table = layui.table,
            form = layui.form,
            $ = layui.jquery,
            upload = layui.upload,
            xajax = layui.xajax;
        let url = 'http://localhost:8080/house/list';
        xajax.error_token('/admin/login');
        let token = xajax.get_token();
        let seach = xajax.get_cache('SEARCH');
        if (seach === null || typeof seach === 'undefined') {
            $.ajax({
                async: false,
                url: '/json/search.json',
                type: 'GET',
                success: function (res) {
                    seach = res.data;
                    xajax.set_cache('SEARCH', res.data, 6);
                }
            });
        }
        xajax.formatDate();
        let retable = table.render({
            elem: '#house'//表格绑定 根据id绑定
            , url: url //请求地址
            , method: 'POST'//请求方法
            , where: {"access_token": token.access_token,'pay_b':0}
            , toolbar: '#topbar' //开启表格头部工具栏区域 左边图标
            , title: '房东房屋表格'//定义 table 的大标题（在文件导出等地方会用到
            , totalRow: false // 开启合计行
            , request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            parseData: function (res) { //res 即为原始返回的数据
                let list = res.data[0].list;
                for (let i = 0, len = list.length; i < len; i++) {
                    if (list[i].pics !== null && list[i].pics.length !== 0) {
                        res.data[0].list[i].pics = res.data[0].list[i].pics[0].url
                    } else {
                        res.data[0].list[i].pics = '/images/temp/property_01.jpg'
                    }
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data[0].total, //解析数据长度
                    "data": res.data[0].list //解析数据列表
                };
            }
            , response: {
                statusCode: 200 //规定成功的状态码，默认：0
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {
                    field: 'id',
                    title: '房屋编号',
                    width: 100,
                    fixed: 'left',
                    unresize: true,//不可编辑
                    sort: true,//排序
                    totalRowText: '合计'
                }
                    , {field: 'user_id', title: '主人编号', width: 100}
                    , {
                    field: 'addr_id', title: '区域', width: 100, templet: function (d) {
                        for (let key in seach.areas) {
                            if (key == d.addr_id) {
                                return seach.areas[key];
                            }
                        }
                    }
                },
                    {
                        field: 'pics',
                        title: '图片',
                        width: 80,
                        templet: '#img'
                    }
                    , {field: 'addr_detail', title: '房屋地址', width: 100}

                    , {field: 'area', title: '房屋面积', width: 100, sort: true}
                    , {field: 'title', title: '房屋名称', width: 100}
                    , {field: 'info', title: '房屋设施', width: 100}
                    , {field: 'rent', title: '租金', width: 80, sort: true}
                    , {
                    field: 'style', title: '风格', width: 80, sort: true, templet: function (d) {
                        for (let key in seach.style) {
                            if (key == d.style) {
                                return seach.style[key];
                            }
                        }
                    }
                }
                    , {field: 'pay_a', title: '缴费方式', width: 90, align: 'center',templet:function (d) {
                        for (let key in seach.payway) {
                            if (key == d.pay_a) {
                                return seach.payway[key];
                            }
                        }
                    }}
                    , {field: 'type_a', title: '房间数', width: 90, align: 'center'}
                    , {field: 'type_b', title: '客厅数', width: 90, align: 'center'}
                    , {field: 'type_c', title: '卫生间数', width: 90, align: 'center'}
                    , {field: 'type_d', title: '厨房数', width: 90, align: 'center'}
                    , {
                    field: 'create_time',
                    title: '发布时间',
                    width: 200,
                    sort: true,
                    align: 'center',
                    templet: function (d) {
                        return new Date(d.create_time).format('yyyy-MM-dd hh:mm:ss');
                    }
                }

                    , {field: 'status', title: '出租状态', width: 130, sort: true, templet: '#status1'}
                    , {field: 'status', title: '认证状态', width: 130, sort: true, templet: '#status2'}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#bar', width: 240}
                ]
            ]
            , page: true //分页开关
            , loading: false
        });

        //工具栏事件
        table.on('toolbar(house)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'flush':
                    retable.reload();
                    break;
            }
        });
        //监听行工具事件
        //右侧
        table.on('tool(house)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case 'del':
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        xajax.xajax({
                            url: 'http://localhost:8080/house/update',
                            data: {'id': data.id, 'pay_b': 1},
                            success: function () {
                                layer.msg('删除成功', {icon: 1, time: 1000});
                            }
                            , error: function () {
                                layer.msg('删除失败', {icon: 2, time: 1000});
                            }
                        });
                        layer.close(index);
                    });
                    break;
                case 'edit':
                    sessionStorage.setItem('houseedit', JSON.stringify(data));
                    x_admin_show('编辑', './house-edit.html', 600, 400, false, function () {
                        let newdata = JSON.parse(sessionStorage.getItem('houseedit'));
                        if (newdata === data) {
                            return false;
                        } else {
                            obj.update({
                                'addr_detail': newdata.addr_detail,
                                'addr_id': newdata.addr_id,
                                'area': newdata.area,
                                'title': newdata.title,
                                'info': newdata.info,
                                'rent': newdata.rent,
                                'style': newdata.style,
                                'pay_a': newdata.pay_a,
                                'type_a': newdata.type_a,
                                'type_b': newdata.type_b,
                                'type_c': newdata.type_c,
                                'type_d': newdata.type_d
                            });
                        }
                    });
                    break;
                case 'attestation':
                   let index= layer.open({
                        type: 1,
                        shade: 0.8,
                        offset: 'auto',
                        area: [250 + 'px', 200 + 'px'],
                        // shadeClose: true,//点击外围关闭弹窗
                        scrollbar: false,//不现实滚动条
                        title: "文件上传", //不显示标题
                        content: $('#file'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                        cancel:function (index,layero) {
                          layer.close(index);
                        }
                    });
                    uploadimage(data,token,function () {
                        layer.close(index);
                    });
                    break;
            }
        });

        //监听出租状态锁定操作
        form.on('checkbox(status1)', function (obj) {
            let status = $(this).attr('status');
            let Intstatus = parseInt(status);
            if (obj.elem.checked === true && Intstatus === 1) {
                Intstatus = 2;
            } else {
                Intstatus = 1;
            }
            xajax.xajax({
                url: 'http://localhost:8080/house/update',
                data: {'id': this.value, 'status': Intstatus},
                success: function (res) {
                    layer.tips('修改成功', obj.othis);
                },
                error: function () {
                    layer.tips('修改失败', obj.othis);
                }
            });
        });
        // 监听认证状态锁定操作
        form.on('checkbox(status2)', function (obj) {
            let status = $(this).attr('status');
            let Intstatus = parseInt(status);
            if (obj.elem.checked === true && Intstatus === 0) {
                Intstatus = 1;
            } else {
                Intstatus = 0;
            }
            xajax.xajax({
                url: 'http://localhost:8080/house/update',
                data: {'id': this.value, 'status': Intstatus},
                success: function (res) {
                    layer.tips('修改成功', obj.othis);
                },
                error: function () {
                    layer.tips('修改失败', obj.othis);
                }
            });
        });

    });

    function previewImg(obj) {
        let img = new Image();
        img.src = obj.src;
        let height = img.height + 50; //获取图片高度
        let width = img.width; //获取图片宽度
        let imgHtml = "<img src='" + obj.src + "' width='500px' height='500px'/>";
        layui.use('layer', function () {
            let layer = layui.layer;
            //弹出层
            let index = layer.open({
                type: 1,
                shade: 0.8,
                offset: 'auto',
                area: [500 + 'px', 550 + 'px'],
                shadeClose: true,//点击外围关闭弹窗
                scrollbar: false,//不现实滚动条
                title: "图片预览", //不显示标题
                content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                cancel: function (index, layero) {
                    layer.close(index);
                },
                end: function () {
                    if (layer.index > 0) {
                        layer.close(layer.index);
                    }
                }
            });
            setTimeout(function () {
                layer.close(index);
            }, 10000)
        });
    }
    function uploadimage(data,token,callback) {
        layui.use('upload',function(){
           let upload =layui. upload;
            upload.render({
                elem: '#file', //绑定元素
                url: 'http://localhost:8080/upload' //上传接口
                , method: 'post'//默认post
                , accept: 'images'//文件类型
                , field: 'files'
                , data: {
                    'house_id': data.id,//额外属性
                    'access_token':token.access_token,
                    'status': 0
                }
                , size: 20480//大小
                , auto: true//自动上传
                , done: function (res) {
                    callback();
                    layer.msg('添加成功',{icon:1,time:1000})
                }
                , error: function () {
                    callback();
                    layer.msg('添加失败',{icon:1,time:1000})
                }
            });
        });
    }
</script>
</body>

</html>