<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href='../../static/css/default.css'
          th:href="@{/css/default.css}">
    <meta charset="UTF-8">
    <title>房屋详情页</title>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div th:insert="top/top::top"></div>
        </div>
    </div>
    <div class="layui-main">
        <div class="layui-row">
            <div ></div>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</body>
</html>