<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href='../../static/css/detail.css'
          th:href="@{/css/detail.css}">
    <meta charset="UTF-8">
    <title>房屋详情页</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div th:insert="top/top::top"></div>
        </div>
    </div>
    <div class="layui-main">
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-xs6">
                <div class="polaroid">
                    <img src="../../static/images/temp/property_01.jpg" th:src="@{/images/temp/property_01.jpg}">
                </div>
            </div>
            <div class="layui-col-md6 layui-col-xs6">
                <div class="property">
                    <h1 class="title">沙井地铁口附近精美温馨公寓房</h1>
                    <ul class="price-info">
                        <li class="price-block">
                            <span class="para">&nbsp;租&nbsp;&nbsp;价：</span>
                            <span class="price big"><b>¥</b><em>900.00</em></span>
                            <span class="bargain-tip">
                        <i class="layui-icon layui-icon-face-surprised"></i>该商品拒绝讲价！
                    </span>
                        </li>
                    </ul>
                    <ul class="idle-info">
                        <li>
                            <span class="para">房屋名称:</span>
                            <em>闵行区-一品漫城二期</em>
                        </li>
                        <li>
                            <span class="para">所在区域:</span>
                            <em>武侯区</em>
                        </li>
                        <li>
                            <span class="para">&nbsp;所在地:</span>
                            <p>柚米国际社区四川北路（上海市虹口区虹江路525号）</p>
                        </li>
                        <li>
                            <span class="para">出租状态:</span>
                            <em>已出租</em>
                        </li>
                        <li>
                            <span class="para">支付方式:</span>
                            <em>押一付一</em>
                        </li>
                        <li>
                            <span class="para">认证状态:</span>
                            <em>已认证</em>
                        </li>
                    </ul>
                    <div class="buy-now">
                        <a href="#" class="layui-btn btn">预定房屋</a>
                        <a href="#" class="layui-btn btn">入住</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="J_Panel desc-mod desc-intro">
                    <h2><b>宝贝介绍</b></h2>
                    <div class="intro-para clearfix">
                        <ul>
                            <li>
                                <span class="title">发布时间：</span>
                                <span>2017-1-1</span>
                            </li>
                            <li>
                                <span class="title">房屋面积：</span>
                                <span>20 </span>㎡
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="title">房屋编号：</span>
                                <span>sadfsa12</span>
                            </li>
                            <li>
                                <span class="title">出租人：</span>
                                <span>小明</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span class="title">房源风格</span>
                                <span>经济</span>
                            </li>
                            <li>
                                <span class="title">房屋类型</span>
                                <span>一室一厅</span>
                            </li>
                        </ul>
                    </div>
                    <div class="describe">
                        <div>房屋设施:</div>
                        免费百兆wifi，家具家电配置：床、衣柜、书桌、台灯、椅子、空调、窗帘、热水器、冰箱、全自动洗衣机、煤气灶、油烟机、微波炉等。配套齐全，真正的拎包入住！ 品牌家电，放心安全。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div th:insert="bottom/bottom::footer"></div>
    </div>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</body>
</html>