<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <meta charset="UTF-8">
    <title>个人信息页面</title>
</head>
<body>
<div class="layui-fluid">
    <div th:replace="top/top::top"></div>
    <div class="layui-row">
        <div class="layui-main" style="width: 400px;">
            <div class="layui-form" lay-filter="updataform">
                <input type="hidden" name="userid" lay-verify="required" autocomplete="off" class="layui-input"
                       style="height: 0px">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户姓名:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="usersex" value="1" title="男">
                        <input type="radio" name="usersex" value="2" title="女">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userphone" required lay-verify="required|phone"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱地址：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="usermail" required lay-verify="required|email"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="useridentity" required lay-verify="required|identity"
                               autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系地址：</label>
                    <div class="layui-input-inline">
                        <textarea name="userdddress" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">认证文件:</label>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="up">
                            <i class="layui-icon">&#xe67c;</i>认证文件
                        </button>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">认证状态:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="attestation" required lay-verify="required" value="已认证"
                               autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
                <!--按钮-->
                <div class="layui-footer">
                    <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" lay-filter="update"
                            lay-submit>
                        个人修改
                    </button>
                    <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal layui-bg-black"
                            id="updatepwd">修改密码
                    </button>
                    <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal layui-bg-red">押金管理</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="../../static/js/demo/url.js" th:src="@{/js/demo/url.js}"></script>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>

    layui.use(['upload', 'jquery'], function () {
        var upload = layui.upload;
        var $ = layui.jquery;
        var url = user_show_url;
        // var data = {'token': '123'};
        $.ajax({
            url: url
            // , async: true
            , type: 'get'
            , dataType: "json"
            // , data: JSON.stringify(data)
            , success: returnGet
        });
        //执行实例
        upload.render({
            elem: '#up' //绑定元素
            , url: '/file/' //上传接口
            , method: 'post'//默认post
            , accept: 'file'//文件类型
            , size: 51200//大小
            , exts: 'zip|rar|7z|doc|txt|docx|rtf|pdf|gz|arj'//允许后缀
            , auto: true//自动上传
            // , bindAction: '#up'//提交按钮 不使用默认提交方式
            , done: function (res) {
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });
    });

    function returnGet(data) {
        // console.log(data);
        if (data.code == 0) {
            updateform(data.data);
        }
    }

    //表单
    function updateform(data) {
        // console.log(data);
        layui.use('form', function () {
            var form = layui.form;
            form.val("updataform", {
                'userid': data.userid
                , "username": data.username // "name": "value"
                , "usersex": data.usersex
                , "userphone": data.userphone
                , "usermail": data.usermail
                , "useridentity": data.useridentity
                , "attestation": data.attestation === true ? '已认证' : '未认证'
                , 'userdddress': data.userdddress
            });
        });
    }

    layui.use('form', function () {
        var form = layui.form;
        //修改用户提交
        form.on('submit(update)', function (data) {
            var userdata = data.field;
            delete userdata.file;
            delete userdata.attestation;
            delete userdata.useridentity;
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(JSON.stringify(userdata)); //当前容器的全部表单字段，名值对形式：{name: value}
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //修改密码提交
        form.on('submit(updatepwd)', function (data) {
            var userdata = data.field;
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(userdata); //当前容器的全部表单字段，名值对形式：{name: value}
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    layui.use(['jquery', 'layer'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        $('#updatepwd').click(function () {
            var id = $("input[type='hidden']:first").val().trim();
            $("input[type='hidden']:eq(1)").attr("value", id);
            layer.open({
                type: 1
                , title: '修改密码'
                , shade: [0.3, '#393D49']
                , shadeClose: true
                , content: $('#openpwd')
            });
            // console.log(id);
        });
    });

</script>
</body>
<div id="openpwd" style="display: none">
    <div class="layui-form" lay-filter="formpwd">
        <input type="hidden" name="userid" lay-verify="required" autocomplete="off" class="layui-input"
               style="height: 0px">
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码：</label>
            <div class="layui-input-inline">
                <input type="password" name="oldpassword" required lay-verify="required" placeholder="输入现在的密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码:</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="输入新密码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" lay-filter="updatepwd"
                    lay-submit style="margin-left: 98px;">
                密码修改
            </button>
        </div>
    </div>
</div>
</html>