.logo strong, .header_bot, .topmenu, .maptop, .sidebar, .re-meta-bot, .after_content, .footer, .jcarousel-skin-pika, .pika-stage .caption {
	display:none !important}

.header_inner {
	background:#fff;
	border-bottom:1px dotted #555}

.header .logo {
	position:absolute;
	top:0;
	left:10px}

.header_top {
	height:85px;}

.header_phone {
	position:absolute;
	right:10px;
	top:30px}
		
.header_phone,
.header_phone span {
	color:#000;
	text-shadow: none}

.middle .container_12 {
	padding:20px 0 20px 0;}

.container_12 {
	width:640px !important}

.block_hr,
.block_hr .inner {
	background:none}
.block_hr .inner {
	position:relative;
	text-align:left;
	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;
	padding:10px 0}	
	
.block_hr .re-price {
	color:#666;
	position:absolute;
	top:10px;
	right:0;
	font-size:17px !important;}

.re-full h1 {
	font-size:25px;
	clear:both;
	margin:0 0 10px 0 !important}

.re-full h2 {
	font-size:20px}