<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <meta charset="UTF-8">
    <style type="text/css">
        .icon-header {
            width: 50px;
            height: 35px;
            position: absolute;
            left: 330px;
            top: 16px;
        }
    </style>
    <title>注册</title>
</head>
<body>
<div class="icon-header">
    <a href="/index" th:href="@{/index}">
        <i class="layui-icon layui-icon-return"
           style="font-size: 30px; color: #1E9FFF;">
        </i>
    </a>
</div>
<div class="layui-main" style="width: 700px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>注册</legend>
    </fieldset>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-tips"
                                               style="font-size: 15px;color: #e10b0b;">用户编号</i></label>
            <div class="layui-input-inline">
                <input type="text" name="username" autocomplete="off" lay-verify="required|username" placeholder="例如：zhangquangdan"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" id="txt">只允许数字和字母</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-tips"
                                               style="font-size: 15px;color: #e10b0b;">用户名</i></label>
            <div class="layui-input-inline">
                <input type="text" name="nick_name" autocomplete="off" lay-verify="required|nick_name" placeholder="例如：张三"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">字符长度不超过8位</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-tips"
                                               style="font-size: 15px;color: #e10b0b;">密码</i></label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="required|password" placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-tips"
                                               style="font-size: 15px;color: #e10b0b;">密码</i></label>
            <div class="layui-input-inline">
                <input type="password" id="rps" name="repassword" lay-verify="required|repasswod|password"
                       placeholder="请再次输入"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><i class="layui-icon layui-icon-tips"
                                                   style="font-size: 15px;color: #e10b0b;">手机号码</i></label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input"
                           placeholder="例如：13649531591">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入11位数字手机号码</div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">验证邮箱</label>
                <div class="layui-input-inline">
                    <input type="email" name="email" lay-verify="email" autocomplete="off" class="layui-input"
                           placeholder="例:字符或数字@地址.com">
                </div>
                <div class="layui-form-mid layui-word-aux">输出正确的邮箱地址</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-inline">
                <input type="text" name="id_card" lay-verify="identity" placeholder="" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">输出正确的身份证号码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-tips"
                                               style="font-size: 15px;color: #e10b0b;">性别</i></label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男" checked="">
                <input type="radio" name="sex" value="1" title="女">
            </div>
        </div>

        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">认证文件</label>-->
            <!--<div class="layui-input-block">-->
                <!--<div class="layui-upload-drag" id="test10">-->
                    <!--<i class="layui-icon"></i>-->
                    <!--<p>点击上传，或将文件拖拽到此处</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-mid layui-word-aux" style="margin-left: 382px; margin-top: -88px;">请上传认证文件-->
                <!--支持doc,zip,txt,docx,rar-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../../static/js/register.js" th:src="@{/js/register.js}">
</script>
</body>
</html>