<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/css/search.css'
          th:href="@{/css/search.css}">
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <meta charset="UTF-8">
    <title>搜索页</title>
</head>
<body>
<div class="layui-fluid">
    <div th:replace="top/top::top"></div>
    <div class="layui-row">
        <div class="layui-main" style="margin-top: 20px">
            <!--搜索区域-->
            <div class="layui-row">
                <form class="layui-form" lay-filter="search_form">
                    <div class="layui-form-item " id="areas">
                        <label class="layui-form-label">区域:</label>
                        <div class="layui-input-block" id="view_areas">
                        </div>
                    </div>
                    <script id="areastpl" type="text/html">
                        <input type="checkbox" name="" title="全部" checked lay-filter="areas">
                        <%# for(var key in d.areas){ %>
                        <input type="checkbox" name="areas" title=<%= d.areas[key] %>
                        lay-filter="areas" value=<%= key %>>
                        <%# } %>
                    </script>
                    <div class="layui-form-item">
                        <label class="layui-form-label">户型:</label>
                        <div class="layui-input-block" id="view_housestyle">
                        </div>
                        <script id="housestyletpl" type="text/html">
                            <%# for(var key in d.housestyle){ %>
                            <input type="radio" name="housestyle" value=<%= key %> title=<%= d.housestyle[key]  %>>
                            <%# } %>
                        </script>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">房屋类型:</label>
                        <div class="layui-input-block" id="view_style">
                        </div>
                        <script id="styletpl" type="text/html">
                            <%# for(var key in d.style){ %>
                            <input type="radio" name="style" value=<%= key %> title=<%= d.style[key]  %>>
                            <%# } %>
                        </script>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">付款方式:</label>
                        <div class="layui-input-block" id="view_payway">
                        </div>
                        <script id="paywaytpl" type="text/html">
                            <%# for(var key in d.payway){ %>
                            <input type="radio" name="payway" value=<%= key %> title=<%= d.payway[key]  %>>
                            <%# } %>
                        </script>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">价格:</label>
                        <div class="layui-input-block">
                            <div id="slide" class="demo-slider"></div>
                            <div id="show-slider-tips">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 100px;">
                                            <input type="text" name="price_min" autocomplete="off"
                                                   class="layui-input" readonly unselectable="on">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline" style="width: 100px;">
                                            <input type="text" name="price_max" autocomplete="off"
                                                   class="layui-input" readonly unselectable="on">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-radius layui-btn-lg layui-btn-primary" lay-submit
                                    lay-filter="*">立即查找
                            </button>
                            <button class="layui-btn layui-btn-radius layui-btn-lg layui-btn-primary" id="clear_address" style="margin-left: 900px;margin-top: -83px;">
                                   清除地址
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--数据页-->
            <div class="layui-row">
                <div class="layui-nav" id="seach_data_main">
                </div>
                <script type="text/html" id="seach_nav_item">
                    <%#  layui.each(d.list, function(index, item){ %>
                    <div class="layui-nav-item">
                        <div class="room-card-small" onclick=get_house(this,event)>
                            <input type="hidden" name="houseid" style="height: 0px;width: 0px" value=<% item.houseid %> >
                            <div class="image-box">
                                <img src=<%= item.houseimage %> >
                            </div>
                            <div class="text-content-middle"><h1 class="text-ellipsis">
                                <span><% item.housename %></span></h1>
                                <h2 class="text-ellipsis"><% item.housestyle %>-<% item.housearea %>㎡ </h2>
                                <p class="text-ellipsis"><% item.houseaddress %></p>
                            </div>
                            <div class="text-content-right"><p class="mogo-color price">
                                <span><% item.zent %></span>元/月</p>
                                <p class="brand"></p>
                            </div>
                        </div>
                    </div>
                    <%# });%>
                    <%# if(d.list.length === 0){ %>
                    无数据
                    <%# } %>
                </script>

            </div>
            <div class="layui-row">
                <div id="field"></div>
            </div>
        </div>
    </div>
    <div th:replace="bottom/bottom::footer"></div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../../static/js/tpl.js" th:src="@{/js/tpl.js}"></script>
<script type="text/javascript" src="../../static/js/search.js" th:src="@{/js/search.js}">
</script>
</body>
</html>