<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body class="layui-layout-body">
<div th:fragment="footer" class="layui-row" >
    <link rel="stylesheet" href='../../static/css/footer.css'
          th:href="@{/css/footer.css}">
    <div class="layui-footer footer footer-index">
        <div class="layui-main">
            <div class="f_col_1">
                <div id="categories-3" class="widget-container widget_categories">
                    <h3 class="widget-title">服务保障</h3>
                    <ul>
                        <li><a href="#" hidefocus="true" style="outline: none;">真实房源</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">七天无理由换房</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">7 x 16小时客服服务</a></li>
                    </ul>
                </div>
            </div>
            <div class="f_col_1">
                <div class="widget-container widget_categories">
                    <h3 class="widget-title">支付方式</h3>
                    <ul>
                        <li><a href="#" hidefocus="true" style="outline: none;">公司转账</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">现场交易</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">在线支付</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">分期付款</a></li>
                    </ul>
                </div>
            </div>
            <div class="f_col_1">
                <div class="widget-container widget_categories">
                    <h3 class="widget-title">搬家服务</h3>
                    <ul>
                        <li><a href="#" hidefocus="true" style="outline: none;">个人搬家</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">家庭搬家</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">办公室搬家</a></li>
                    </ul>
                </div>
            </div>
            <div class="f_col_1">
                <div class="widget-container widget_categories">
                    <h3 class="widget-title">关于我们</h3>
                    <ul>
                        <li><a href="#" hidefocus="true" style="outline: none;">加入我们</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">联系我们</a></li>
                        <li><a href="#" hidefocus="true" style="outline: none;">隐私声明</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>