<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href='../static/css/index.css'
          th:href="@{/css/index.css}">
    <link rel="stylesheet" href='../static/css/default.css'
          th:href="@{/css/default.css}">
    <meta charset="utf-8"/>
    <title>主页</title>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div th:include="top/top::top"
                 class="layui-layout layui-layout-admin"></div>
        </div>
    </div>
    <!-- head -->
    <div class="layui-row">
        <div class="layui-col-xs12" id="bg1"></div>
    </div>
    <!-- 轮状图 -->
    <div class="layui-row">
        <div class="layui-col-xs12" id="bg2">
            <div class="layui-carousel header_slider" id="test">
                <span class="slider_ribbon"></span>
                <div carousel-item="">
                    <div>
                        <img src="../static/images/temp/property_01.jpg" th:src="@{/images/temp/property_01.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../static/images/temp/property_02.jpg" th:src="@{/images/temp/property_02.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../static/images/temp/property_03.jpg" th:src="@{/images/temp/property_03.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../static/images/temp/property_04.jpg" th:src="@{/images/temp/property_04.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="../static/images/temp/property_05.jpg" th:src="@{/images/temp/property_05.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img th:src="@{/images/temp/property_01.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img th:src="@{/images/temp/property_02.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img th:src="@{/images/temp/property_03.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img th:src="@{/images/temp/property_04.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img th:src="@{/images/temp/property_05.jpg}">
                        <div class="caption">
                            <p>
                                东辑虎营坊山府小区&nbsp;&nbsp;<span class="price">1800.0RMB</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 搜索 -->
    <div class="layui-row">
        <div class="layui-col-xs12 layui-bg-bg">
            <div class="container">
                <form action="" class="parent">
                    <input type="text" class="search" placeholder="搜索"> <a
                        href="#"> <i class="layui-icon layui-icon-search"></i>
                </a>
                </form>
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0px;">
        <legend>最新发布</legend>
    </fieldset>
    <!--消息内容 -->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo grid-demo-bg1">3/12</div>
        </div>
        <div class="layui-col-xs6">
            <div class="grid-demo">3/12</div>
        </div>
        <div class="layui-col-xs3">
            <div class="grid-demo">3/12</div>
        </div>
    </div>
</div>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>
