<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="top" class="layui-row" style="height: 88px">
    <script src="../../static/js/local.js" th:src="@{/js/local.js}"></script>
    <link rel="stylesheet" href='../../static/css/top.css'
          th:href="@{/css/top.css}">
    <link rel="stylesheet" href='../../static/css/login.css'
          th:href="@{/css/login.css}">
    <div class="layui-col-md12">
        <div class="layui-layout">
            <div class="layui-header mylayui-header">
                <div class="layui-main">
                    <div class="layui-logo">
                        <a href="/index">
                            <img src="../../static/images/logo.png" th:src="@{/images/logo.png}">
                        </a>
                    </div>
                    <ul class="layui-nav layui-layout-right mylayui-nav" lay-filter="houseManagefilter">
                        <li class="layui-nav-item mylayui-nav-item"><a href="/index"> <i
                                class="layui-icon layui-icon-home"
                                style="font-size: 30px; color: #1E9FFF;"></i>
                        </a></li>
                        <li class="layui-nav-item mylayui-nav-item" >
                            <a href="javascript:;">预定房屋管理</a>
                            <dl class="layui-nav-child mylayui-nav-child" style="margin-top: 20px">
                                <dd> <a >房东预约查看</a></dd>
                                <dd> <a >租客预约查看</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item mylayui-nav-item"><a>发布房屋</a></li>
                    </ul>
                </div>
                <ul class="layui-nav layui-layout-right mylayui-nav mylayui-nav-right" lay-filter="loginfilter" lay-allowClose="false">
                    <li class="layui-nav-item">
                        <a href="javascript:;" id="btn_parm_top"> <i
                                class="layui-icon layui-icon-username"
                                style="font-size: 30px; color: #1E9FFF;"></i>
                            <button data-method="offset" data-type="auto"
                                    class="layui-btn layui-btn-radius layui-btn-primary" id="btn">
                                <script type="text/html" id="usermodel">
                                    {{# if(d.username == null || d.username === "" ){ }}
                                    登录
                                    {{# }else{ }}
                                    {{ d.username }}
                                    {{# } }}
                                </script>
                                <p id="showname"></p>
                            </button>
                        </a>
                        <dl class="layui-nav-child mylayui-nav-child">
                            <dd>
                                <a id="user_manage_top">基本信息</a>
                            </dd>
                            <dd>
                                <a id="owner_order_manage_top">房东合同管理</a>
                            </dd>
                            <dd>
                                <a  id="tenant_order_manage_top">租客合同管理</a>
                            </dd>
                            <dd>
                                <a id="house_manage_top">房屋管理</a>
                            </dd>
                            <dd>
                                <a id="loginout_top">注销</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <script src="../../static/js/top.js" th:src="@{/js/top.js}"></script>
        </div>
    </div>
    <div class="signform" id="signform" style="display: none">
        <div class="userdiv">
            <div id="show_erro"></div>
            <input id="user" class="signinput" type="text" placeholder="用户名" name="username">
        </div>
        <div class="pwddiv">
            <input id="pwd" class="signinput" type="password" placeholder="密码" name="password">
        </div>
        <div class="postdiv">
            <button class="layui-btn layui-btn-warm layui-btn-lg" id="login">
                登陆
            </button>
        </div>
        <br>
        <div class="change" style="color: #4d4d4d">
            <p>还没有账号?赶快<a href="/register" style="text-decoration: none;color: #43A047">注册</a>一个吧</p>
        </div>
    </div>
</div>

<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</body>
</html>