<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href='../../static/layui/css/layui.css'
          th:href="@{/layui/css/layui.css}">
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="top" class="layui-row" style="height: 88px">
    <div class="layui-col-md12">
        <div class="layui-layout">
            <link rel="stylesheet" href='../../static/css/top.css'
                  th:href="@{/css/top.css}">
            <link rel="stylesheet" href='../../static/css/login.css'
                  th:href="@{/css/login.css}">
            <div class="layui-header">
                <div class="layui-main">
                    <div class="layui-logo">
                        <img src="../../static/images/logo.png" th:src="@{/images/logo.png}">
                    </div>

                    <ul class="layui-nav layui-layout-right">
                        <li class="layui-nav-item"><a href=""> <i
                                class="layui-icon layui-icon-home"
                                style="font-size: 30px; color: #1E9FFF;"></i>
                        </a></li>
                        <li class="layui-nav-item"><a href="">预定房屋管理</a></li>
                        <li class="layui-nav-item"><a href="">发布房屋</a></li>
                    </ul>
                </div>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item"><a href="javascript:;"> <i
                            class="layui-icon layui-icon-username"
                            style="font-size: 30px; color: #1E9FFF;"></i>
                        <button data-method="offset" data-type="auto"
                                class="layui-btn layui-btn-radius layui-btn-primary" id="btn">登陆
                        </button>
                    </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="">基本信息</a>
                            </dd>
                            <dd>
                                <a href="">合同管理</a>
                            </dd>
                            <dd>
                                <a href="">房屋管理</a>
                            </dd>
                            <dd>
                                <a href="">注销</a>
                            </dd>
                        </dl>
                </ul>
            </div>
            <script src="../../static/js/top.js" th:src="@{/js/top.js}"></script>
        </div>
    </div>
    <div class="signform" id="signform" style="display: none">
        <div class="userdiv">
            <input id="user" class="signinput" type="text" placeholder="用户名" name="user" >
        </div>
        <div class="pwddiv">
            <input id="pwd" class="signinput" type="password" placeholder="密码" name="pwd">
        </div>
        <div class="postdiv">
            <button id="login">登录</button>
        </div>
        <br>
        <div class="change" style="color: #4d4d4d">
            <p>还没有账号?赶快<a href="#" style="text-decoration: none;color: #43A047">注册</a>一个吧</p>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</body>
</html>